
    /*ESTILOS GLOBALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f6f5;
    color: #454548;
}

    /*ANCHOR PRINCIPAL NAV */

.a_principal{
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

ul{
    list-style: none;
}

header{
    background-color: #006db0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

header ul{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section {
    margin-top: 60px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f5;
}

section a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #00314f;
}





