
    /*ESTILOS GLOBALES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f6f5;
    color: #454548;
}

ul{
    list-style: none;
}

h1 {
    font-size: 40px;
    color: #00314f;
}


         /* HEADER */

.a_principal{
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

header{
    background-color: #006db0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

header ul{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

     
        /* MAIN */

#i_principal {
    width: 800px;
    height: 0 auto;
}

#contacto {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

#contacto a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #00314f;
}

#contacto ul{
    margin: 35px;
}

#parrafo {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

p {
    color: #454548;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1100px;
    padding: 10px;
}

.fotos{
    margin-top: 80px;
    width: 260px;
    height: 240px;
    border-radius: 40px;
}

#galeria ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    gap: 20px;
}






